@page "/"

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

<CalendarSelectBox SelectedDate="@SelectedDate" SelectedDateChanged="OnSelectedDateChanged"/>

@code {
    private DateTime SelectedDate = DateTime.Now;

    private void OnSelectedDateChanged(DateTime newSelectedDate) {
        SelectedDate = newSelectedDate;
    }
}