<button class="toggle-button @CssClass @IsToggled.T("toggled")" @onclick="HandleClick">  
    @Header
</button>

@code {
    [Parameter] public bool IsToggled { get; set; }
    [Parameter] public EventCallback<bool> OnToggled { get; set; }
    [Parameter] public string Header { get; set; }
    [Parameter] public string CssClass { get; set; }

    void HandleClick(){
        if (!IsToggled)
            OnToggled.InvokeAsync(IsToggled);
    }
}
