@import "./SelectBox.css";
@import "./Button.css";
@import "./Calendar.css";
@import "./ToggleButton.css";
@import "./Layout.css";
@import "./BlazorDefault.css";
    
body {
    font-family: "Segoe UI", sans-serif;
    color: #CACACA;
    font-size: 14px;
    background-color: #202020;
}

popup {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.55);
}

