button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px;
    color: inherit;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.icon-button {
    font-size: 8px;
    border: 0px
}

.toggle-button {
    border: 0px;
    aspect-ratio: 1/1;
    width: 30px;
}

    .toggle-button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .toggle-button.toggled {
        background-color: #00A961;
        color: white;
    }

.another-month {
    opacity: 0.25;
}
