.calendar__head-button {
    padding: 5px 11px;
    background-color: #2b2b2b;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    opacity: 0.75;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #505050;
}

.calendar__grid-button {
    background-color: #2b2b2b;
    font-size: 10px;
    transform: scaleX(0.5) scaleY(0.8);
    color: #ffffff;
    text-align: center;
    border: 0px solid #505050;
    letter-spacing: -2px;
}
