.calendar__days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    gap: 4px;
}

.calendar__top-buttons{
    justify-content: space-evenly;
    margin: 8px;
}

.calendar__header {
   margin: 8px;
}