calendar {
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 277px;
    background-color: #2b2b2b;
    border-radius: 4px;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.55);
}

.calendar__header {
    margin-top: 10.5px;
    margin-left: 13px;
    margin-right: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar__status {
    display: grid;
    grid-template-columns: 20px 20px 1fr 20px 20px;
    align-items: center;
    height: 40px;
    padding: 0 12px;
}

.calendar__status-text {
    color: white;
    font-weight: 400;
    justify-self: center;
    white-space: nowrap;
    overflow: hidden;
}

.calendar__grid {
    padding: 0px 45.5px 0px 9px;
    display: grid;
    grid-template-columns: repeat(7, 15.28%);
    grid-template-rows: repeat(6, 14.67%);
    gap: 3.5px;
    justify-items: center;
    align-items: center;
}