.select-box {
    width: 200px;
    height: 28px;
    background-color: #000000;
    border-radius: 4px;
    border: 1px solid #ffffff;

}

.select-box-text {
    font-size: 15px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding-left: 10px;
    padding-top: 3px;

}

