.select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    width: 181px;
    height: 28px;
    background-color: #2b2b2b;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.select-box__opened {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    width: 181px;
    height: 28px;
    background-color: black;
    opacity: 0.75;
    border-radius: 4px;
    border: 1px solid #ffffff;
}

.select-box__bottom-arrow {
    transform: scaleX(0.7) scaleY(0.5);
   
}

