.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    font-size: 15px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.75;
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.toggled {
    background-color: #00A961;
    color: white;
    opacity: 1;
    border: 0px;
    border-radius: 4px;
}
.another-month {
    opacity: 0.25;

}
